<a href="https://colab.research.google.com/github/pkyle89/DS-Unit-2-Linear-Models/blob/master/DS10_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Ridge Regression**
Assignment

*We're going back to our other New York City real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.*

But not just for condos in Tribeca...

[ ] Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million.

[ ] Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

[ ] Do one-hot encoding of categorical features.

[ ] Do feature selection with SelectKBest.

[ ] Fit a ridge regression model with multiple features. Use the normalize=True parameter (or do feature scaling beforehand â€” use the scaler's fit_transform method with the train set, and the scaler's transform method with the test set)

[ ] Get mean absolute error for the test set.

[ ] As always, commit your notebook to your fork of the GitHub repo.
The NYC Department of Finance has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the NYC OpenData portal.


**Stretch Goals**

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

[ ] Add your own stretch goal(s) !

[ ] Instead of Ridge, try LinearRegression. Depending on how many features you select, your errors will probably blow up! ðŸ’¥

[ ] Instead of Ridge, try RidgeCV.

[ ] Learn more about feature selection:
"Permutation importance"
scikit-learn's User Guide for Feature Selection
mlxtend library
scikit-learn-contrib libraries: boruta_py & stability-selection
Feature Engineering and Selection by Kuhn & Johnson.

[ ] Try statsmodels if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.

[ ] Read An Introduction to Statistical Learning, Chapters 1-3, for more math & theory, but in an accessible, readable way.

[ ] Try scikit-learn pipelines.

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import numpy as np
from math import factorial
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

df = df.drop(columns=['EASE-MENT','APARTMENT_NUMBER'])

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [214]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [215]:
#Use a subset of the data where 
#BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' 
#and the sale price was more than 100 thousand and less than 2 million.

df = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']
df = df[(df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000)]
df.head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 19 columns]

In [216]:
df.shape

(3151, 19)

In [217]:
df = df.fillna(value=df.mean(skipna=True))
df.isna().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING_CLASS_CATEGORY           0
TAX_CLASS_AT_PRESENT              0
BLOCK                             0
LOT                               0
BUILDING_CLASS_AT_PRESENT         0
ADDRESS                           0
ZIP_CODE                          0
RESIDENTIAL_UNITS                 0
COMMERCIAL_UNITS                  0
TOTAL_UNITS                       0
LAND_SQUARE_FEET                  0
GROSS_SQUARE_FEET                 0
YEAR_BUILT                        0
TAX_CLASS_AT_TIME_OF_SALE         0
BUILDING_CLASS_AT_TIME_OF_SALE    0
SALE_PRICE                        0
SALE_DATE                         0
dtype: int64

In [218]:
#Do train/test split. Use data from January â€” March 2019 to train.
#Use data from April 2019 to test.

df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)
df['SALE_DATE'].describe()

count                    3151
unique                     91
top       2019-01-31 00:00:00
freq                       78
first     2019-01-01 00:00:00
last      2019-04-30 00:00:00
Name: SALE_DATE, dtype: object

In [219]:
df['SALE_DATE'].dt.month.value_counts()

1    947
3    799
2    761
4    644
Name: SALE_DATE, dtype: int64

In [220]:

train = df[(df.SALE_DATE.dt.month >= 1) & (df.SALE_DATE.dt.month <= 3)]
test  = df[df.SALE_DATE.dt.month == 4]
train.shape, test.shape

((2507, 19), (644, 19))

In [0]:
#Do one-hot encoding of categorical features.
target = 'SALE_PRICE'
high_cardinality = ['LOT', 'SALE_DATE', 'ADDRESS', 'LAND_SQUARE_FEET']
features = train.columns.drop([target] + high_cardinality)

X_train = train[features]
X_test = test[features]

y_train = train[target]
y_test = test[target]


import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [222]:
X_train.head()

     BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44           1  ...                                  0
61           0  ...                                  0
78           0  ...                                  0
108          1  ...                                  0
111          1  ...                                  0

[5 rows x 46 columns]

In [223]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2507, 46), (644, 46), (2507,), (644,))

In [0]:
#Do feature selection with SelectKBest.

def engineer_features(X):
    
    # Avoid SettingWithCopyWarning
    X = X.copy()
    
    # How many total perks does each apartment have?
    perk_cols = ['RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'GROSS_SQUARE_FEET',
                 'YEAR_BUILT', 'BOROUGH']
    X['perk_count'] = X[perk_cols].sum(axis=1)

        
    # Total number of rooms (beds + baths)
    X['total_pro'] = X['RESIDENTIAL_UNITS'] + X['COMMERCIAL_UNITS']

    return X

#X_train = engineer_features(X_train)
#X_test = engineer_features(X_test)

In [0]:
warnings.filterwarnings(action='ignore', category=RuntimeWarning, module='sklearn')
warnings.filterwarnings(action='ignore', category=RuntimeWarning, module='scipy')

In [0]:
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func=f_regression, k=15)

X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

In [227]:
#Fit a ridge regression model with multiple features. Use the normalize=True parameter (or do feature scaling beforehand â€” use the scaler's fit_transform method with the train set, and the scaler's transform method with the test set)
#https://scikit-learn.org/stable/modules/preprocessing.html
#Get mean absolute error for the test set.
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

for k in range(1, len(X_train.columns)+1):
    print(f'{k} features')

    selector = SelectKBest(score_func=f_regression, k=k)
    X_train_selected = selector.fit_transform(X_train, y_train)
    X_test_selected = selector.transform(X_test)

    model = LinearRegression()
    model.fit(X_train_selected, y_train)
    y_pred = model.predict(X_test_selected)

    mae = mean_absolute_error(y_test, y_pred)
    print(f'Test MAE: ${mae:,.0f} \n')

1 features
Test MAE: $183,641

2 features
Test MAE: $182,569

3 features
Test MAE: $182,569

4 features
Test MAE: $173,706

5 features
Test MAE: $174,556

6 features
Test MAE: $172,843

7 features
Test MAE: $173,412

8 features
Test MAE: $173,241

9 features
Test MAE: $168,668

10 features
Test MAE: $169,452

11 features
Test MAE: $169,006

12 features
Test MAE: $161,221

13 features
Test MAE: $162,578

14 features
Test MAE: $161,733

15 features
Test MAE: $161,735

16 features
Test MAE: $161,548

17 features
Test MAE: $161,548

18 features
Test MAE: $161,308

19 features
Test MAE: $161,308

20 features
Test MAE: $159,303

21 features
Test MAE: $159,371

22 features
Test MAE: $159,371

23 features
Test MAE: $159,371

24 features
Test MAE: $159,371

25 features
Test MAE: $159,107

26 features
Test MAE: $158,990

27 features
Test MAE: $158,924

28 features
Test MAE: $158,882

29 features
Test MAE: $159,683

30 features
Test MAE: $159,734

31 features
Test MAE: $159,734

32 features
Test MAE: $159,311

33 features
Test MAE: $159,289

34 features
Test MAE: $158,947

35 features
Test MAE: $158,947

36 features
Test MAE: $159,722

37 features
Test MAE: $159,245

38 features
Test MAE: $159,300

39 features
Test MAE: $159,311

40 features
Test MAE: $159,642

41 features
Test MAE: $159,602

42 features
Test MAE: $159,598

43 features
Test MAE: $159,598

44 features
Test MAE: $159,597

45 features
Test MAE: $159,594

46 features
Test MAE: $159,605

In [0]:
#As always, commit your notebook to your fork of the GitHub repo.